@font-face {
    font-family: "batmfa";
    src: url("../../src/medias/font/batmfa__.ttf");
}

@font-face {
    font-family: "Lucida Console";
    src: url("../../src/medias/font/LUCON.TTF");
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(14, 14, 14);
    color: rgb(226, 226, 226);
    font-family: "Lucida Console";
    font-size: 1.5rem;
    width: 100%;
    overflow-x: hidden;
}

#paralaxe {
    overflow: hidden;
}
#button {
    position: absolute;
    z-index: 1000;
    top: 70%;
    left: 45%;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: "batmfa";
    border: 2px solid white;
    padding: 10px;
    text-shadow: 0 0 25px #ffffff88, 0 0 10px #ffffff88, 0 0 15px #ffffff88, 0 0 20px #ffffff88, 0 0 25px #ffffff88, 0 0 30px #ffffff88, 0 0 35px #ffffff88;
    box-shadow: 0 0 5px #ffffff88, 0 0 10px #ffffff88, 0 0 15px #ffffff88, 0 0 20px #ffffff88, 0 0 25px #ffffff88, 0 0 30px #ffffff88, 0 0 35px #ffffff88, inset 0 0 5px #ffffff88, inset 0 0 10px #ffffff88, inset 0 0 15px #ffffff88, inset 0 0 20px #ffffff88, inset 0 0 25px #ffffff88, inset 0 0 30px #ffffff88, inset 0 0 30px #ffffff88;
}
#button:hover {
    text-shadow: 0 0 5px #ffffffaa, 0 0 10px #ffffffaa, 0 0 15px #ffffffaa, 0 0 20px #ffffffaa, 0 0 25px #ffffffaa, 0 0 30px #ffffffaa, 0 0 35px #ffffffaa;
    box-shadow: 0 0 5px #ffffffaa, 0 0 10px #ffffffaa, 0 0 15px #ffffffaa, 0 0 20px #ffffffaa, 0 0 25px #ffffffaa, 0 0 30px #ffffffaa, 0 0 35px #ffffffaa, inset 0 0 5px #ffffffaa, inset 0 0 10px #ffffffaa, inset 0 0 15px #ffffffaa, inset 0 0 20px #ffffffaa, inset 0 0 25px #ffffffaa, inset 0 0 30px #ffffffaa, inset 0 0 30px #ffffffaa;
}
#img-bg {
    display: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(1.1, 1);
    overflow: hidden;
}
#img-bg-2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#img-bg-3 {
    width: 200%;
    position: absolute;
    top: -70%;
    left: -60%;
}

#body-content {
    -margin: 2%;
    border: #91d2d6 5px solid;
    box-shadow: inset 0vw 0 5vw #91d2d6;
}

h1, h2, h3 {
    font-family: "batmfa";
    color: #91d2d6;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin-left: 8%;
    margin-right: 8%;
}

.section:first-child {
    margin-top: 8%;
}

.section:last-child {
    margin-bottom: 8%;
}

.section h2 {
    border-bottom: 2px solid #91d2d6;
    width: fit-content;
}

.section img {
    max-width: 50%;
}

.img-list, .audio-lsit   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.img-list img {
    width: 30%;
}

.filter-blue {
    filter: invert(92%) sepia(6%) saturate(1946%) hue-rotate(138deg) brightness(89%) contrast(88%);
}