
@font-face {
    font-family: "super retro";
    src: url("../medias/font/Super\ Retro\ M54.ttf");
}

@font-face {
    font-family: "batmfa";
    src: url("../medias/font/batmfa__.ttf");
}

html, body, #app {
    width: 100%;
    height: 100%;
    background: gray;
    user-select: none;
}

body, #app {
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
}
#hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#message {
    z-index: 1001;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    color: #91d2d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "batmfa";
}

#score {
    margin-top: 0.9%;
    margin-left: 10%;
    font-family: "batmfa";
    color: #c8f7fa;
    font-size: 4vw;

}

#hud img {
    position: absolute;
    width: 30%;
    height: auto;
}

#top-left {
    display: none;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.top-left-anim {
    animation: top_left_anim 2s ease-out 0s 1;
}
#top-left img {
    left: 0;
    top: 0;
}

#top-right {
    display: none;
    grid-column: 2;
    grid-row: 1;
    
}
.top-right-anim {
    animation: top_right_anim 2s ease-out 0s 1;
}
#top-right img {
    right: 0;
    top: 0;
    transform: scaleX(-1);
}

#bottom-left {
    display: none;
    grid-column: 1;
    grid-row: 2;
}
.bottom-left-anim {
    animation: bottom_left_anim 2s ease-out 0s 1;
}
.top-right-anim-scaleless {
    animation: top_right_anim_scaleless 2s ease-out 0s 1;
}
#bottom-left img {
    left: 0;
    bottom: 0;
    transform: scaleY(-1) translate(-10%, -40%);
}

#bottom-right {
    display: none;
    grid-column: 2;
    grid-row: 2;
    
}
.bottom-right-anim {
    animation: bottom_right_anim 2s ease-out 0s 1;
}
#bottom-right img {
    right: 0;
    bottom: 0;
    transform: scale(-1, -1) translate(-10%, -40%);
}


#action_request {
    color: rgb(255, 249, 242);
    font-family: "batmfa", italic;
    font-size: 2rem;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(255, 249, 242);
    padding: 10px;
    animation: 1s alternate infinite ease-out fade_off;
    text-align: center;
}

#fade_screen {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#help_screen {
    position: absolute;
    pointer-events: none;
    z-index: 90;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#life img {
    margin-top: 10%;
    width: 80%;
    position: relative;
}

#life img:first-child{
    grid-column: 2;
}
#life img:nth-child(2) {
    grid-column: 3;
}
#life img:nth-child(3) {
    grid-column: 4;
}

#life {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 10% 10% 10% 10%;
    width: 100%;
}

.heart-full {
    filter: invert(99%) sepia(88%) saturate(449%) hue-rotate(120deg) brightness(105%) contrast(96%);
}
.heart-empty {
    filter: invert(46%) sepia(25%) saturate(520%) hue-rotate(135deg) brightness(92%) contrast(88%);
}

#help_screen img {
    height: 100%;
    margin-left: 7%;
}

#end_game {
    position: absolute;
    pointer-events: none;
    z-index: 90;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    margin-top: 4%;
    display: none;
    transform: scale(0.8, 0.8);
}

#end_game img {
    width: 100%;
    margin-right: 3%;
}
#end_game #final_score {
    color: #91d2d6;
    position: absolute;
    font-size: 5vw;
    left: 23.5vw;
    top: 52%;
    font-family: "batmfa";
}
#end_game #heart {
    position: absolute;
    left: 23.5vw;
    top: 20%;
}
#end_game #heart img {
    width: 10%;
    filter: invert(92%) sepia(6%) saturate(1946%) hue-rotate(138deg) brightness(89%) contrast(88%);
}



@keyframes fade_off { 
    from { opacity: 100%; } 
    to { opacity: 20%; }  
}

@keyframes top_left_anim {
    from {
        transform: translate(-100% ,-100%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

@keyframes top_right_anim {
    from {
        transform: translate(100%, -100%) scaleX(-1);
    }

    to {
        transform: translate(0, 0) scaleX(-1);
    }
}

@keyframes top_right_anim_scaleless {
    from {
        transform: translate(100%, -100%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes bottom_left_anim {
    from {
        transform: translate(-100%, 100%) scaleY(-1);
    }

    to {
        transform: translate(-10, -40%) scaleY(-1);
    }
}

@keyframes bottom_right_anim {
    from {
        transform: translate(100%, 100%) scale(-1, -1);
    }

    to {
        transform: translate(-10% -40) scale(-1, -1);
    }
}
